[database]
train_folder = D:/Desktop/MS_Project/open_ms_data/train/
inference_folder = D:/Desktop/MS_Project/open_ms_data/inference/
flair_tags = FLAIR
t1_tags = T1
mod3_tags = None
mod4_tags = None
roi_tags = lesion
register_modalities = False
denoise = True
denoise_iter = 2
skull_stripping = True
save_tmp = True
debug = False

[train]
full_train = True
#full_train = False
pretrained_model = None
balanced_training = True
#fraction_negatives = 2.0 vaka beshe
fraction_negatives = 2.0

[model]
name = my_ms_model
pretrained = None
train_split = 0.2
#max_epochs = 400 vaka beshe
max_epochs = 3
#patience = 50 vaka beshe
patience = 1
#batch_size = 128 vaka beshe
batch_size = 5000
net_verbose = 1
#gpu = False
gpu_number = -1


[postprocessing]
t_bin = 0.5
l_min = 10
min_error = 0.5
